2 VERSIONINFO
FILEVERSION {comma_version}
PRODUCTVERSION {comma_version}
FILETYPE VFT_APP
{{
 BLOCK "StringFileInfo"
 {{
  BLOCK "040904E4"
  {{
   VALUE "CompanyName", "Modelistica http://www.modelistica.com\000\000"
   VALUE "FileDescription", "\000"
   VALUE "FileVersion", "{version}\000\000"
   VALUE "InternalName", "TUS v{version}\000"
   VALUE "LegalCopyright", "Copyright © 1983-{year} Modelistica\nCopyright © 1983-{year} Tomas de la Barra\nCopyright © 1983-{year} Tomas de la Barra\nCopyright © 1983-2002 Beatriz Perez\nCopyright © 1985-{year} Juancarlo Añez\nSome rights reserved.\000\000"
   VALUE "OriginalFilename", "\000"
   VALUE "ProductName", "TRANUS® Transport and Land Use Modeling System\000\000"
   VALUE "ProductVersion", "{version}\000\000"
  }}
 }}
}}

